extends layout

block append head
  script(src='/js/angularjs-1.5.8.min.js')
  script(src='/js/angular-sanitize-1.5.8.min.js')
  script(src='/js/ui-bootstrap-tpls-2.2.0.min.js')
  script(src='/js/angular-bootstrap-confirm.min.js')
  
  link(rel='stylesheet', href='/stylesheets/shoplist.css')
  link(rel='stylesheet', href='/stylesheets/shop.css')

block append content
  #ng-container(ng-app='shop.edit')
    a(href='/shops/#{shop.universityid}') 
      i#back-btn.fa.fa-angle-left(aria-hidden='true').back-btn

    #products(ng-controller="ProductEditorController",
              ng-init="products=#{JSON.stringify(shop.products)}")
      table(ng-form="products_form")
        thead
          tr
            th Produto
            th Preço
            th Disponível
            th
        tbody.wrapper-shop-list
          tr(ng-repeat="product in products", ng-form="{{'prod_' + $index}}")
            td(ng-class="{'has-error': {{'prod_' + $index}}.name.$invalid}")
              form(ng-submit="submitProducts()")
                input.form-control(type="text", name="name",
                    ng-model="product.name",
                    ng-required="true",
                    ng-maxlength="30")
            td(ng-class="{'has-error': {{'prod_' + $index}}.price.$invalid}")
              form.input-group(ng-submit="submitProducts()")
                span.input-group-addon R$
                input.form-control(type="number", name="price",
                    step="0.01",
                    ng-model="product.price",
                    ng-required="true",
                    ng-min="0.01",
                    ng-blur="roundPrice(product)")
            td
              input(type="checkbox", ng-model="product.available")
            td
              button.btn.btn-lg.btn-link.btn-remove(type="button", ng-click="removeProduct(product)")
                span.glyphicon.glyphicon-remove
      button.btn.btn-sm(type="button", ng-click="newProduct()")
        span.glyphicon.glyphicon-plus
            
      #footer
        button.btn-lg.btn.btn-primary.btn-block(type="button",
                                                ng-disabled="products_form.$invalid",
                                                ng-click="submitProducts()") Salvar

    #footer
      form#storeDeleteForm(action="/shop/#{shop._id}/delete_shop", method="post", ng-controller="StoreDeleteController")
        .form-group
          label Apagar Loja
        button.btn.btn-lg.btn-block.btn-danger(type="button",
                                               mwl-confirm,
                                               title="Apagar Loja"
                                               message="Tem certeza que deseja apagar a loja? Essa operação não tem volta.",
                                               confirm-text="Sim",
                                               confirm-button-type="danger",
                                               cancel-text="Não",
                                               on-confirm="submitForm(storeDeleteForm)") Apagar
  script.
    var app = angular.module('shop.edit', ['mwl.confirm']);
    app.controller('StoreDeleteController', function($scope) {
        $scope.submitForm = function(form) {
          document.getElementById('storeDeleteForm').submit()
        }
      });
    
    app.controller('ProductEditorController', function($scope, $http) {
      $scope.roundPrice = function(product) {
        if (product.price) {
          product.price = Math.round(product.price * 100) / 100;
        }
      }
      
      $scope.newProduct = function() {
        $scope.products.push({available: true});
      }
      
      $scope.removeProduct = function(product) {
        $scope.products.splice($scope.products.indexOf(product), 1);
      }
      
      $scope.submitProducts = function(product) {
        alert("TODO!")
      }
    });
