extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/shoplist.css')
  link(rel='stylesheet', href='/stylesheets/shop.css')

block append content
  //- a(href='#{shop.universityid}') 
  //-   i#back-btn.fa.fa-angle-left(aria-hidden='true').back-btn

  //- passando o shopId pelo table pra usar no jquery
  table
    thead
      tr
        th Produto
        th Preço
        th Disponível
        //- th Deletar
    tbody.wrapper-shop-list
      if shop.products && shop.products.length > 0
        each product, i in shop.products
          tr
            td
              div #{product.name}
            td
              div #{"R$" + product.price.toFixed(2)}
            td
              div #{product.available ? "Sim" : "Não"}
      else
        tr
          td Lista Vazia (Adicione um produto)
  if isOwner
    #footer
      a.btn-lg.btn.btn-primary.btn-block(href="/shop/#{shop._id}/edit") Gerenciar
