extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/shoplist.css')
  link(rel='stylesheet', href='/stylesheets/shop.css')

block append content
  a(href='/shops/#{universityId}') 
    i#back-btn.fa.fa-angle-left(aria-hidden='true').back-btn

  //- passando o shopId pelo table pra usar no jquery
  table#shop(data-shopid="#{shopId}")
    thead
      tr
        th Produto
        th Preço
        th Disponível
        //- th Deletar
    tbody.wrapper-shop-list
      if shop.products && shop.products.length > 0
        each product, i in shop.products
          tr
            td
              div #{product.name}
            td
              div #{"R$" + product.price.toFixed(2)}
            td
              div #{product.available ? "Sim" : "Não"}
            //- td
            //-   button.delete-btn.btn.btn-primary.btn-block(type="submit", value="Submit") Deletar?
      else
        tr
          td Lista Vazia (Adicione um produto)
  if isOwner
    #footer
      form(action="/shop/delete", method="post")
        .form-group
          label(for="productName") Produto a ser excluído
          input.input-new-shop.form-control#productName(placeholder="ex.: Chave de Fenda", name="product[name]", required)
        button.delete-btn.btn.btn-primary.btn-block(type="submit", value="Submit") Deletar produto?

    #footer
      form(action="/shop/new", method="post")
        .form-group
          label(for="productName") Novo Produto
          input.input-new-shop.form-control#productName(placeholder="ex.: Salgado", name="product[name]", required)
        .form-group
          label(for="productPrice") Preço
          input.input-new-shop.form-control#productOwner(placeholder="ex.: 10.50", name="product[price]", required)
        button.new-shop-btn.btn.btn-primary.btn-block(type="submit", value="Submit") Cadastrar novo produto